Repository csh995426531/liaotian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_app_im, job_domain_user

job_app_im:
  stage: model_init
  script:
  - echo "init app-im"
  variables:
    working_directory: /go/release/liaotian/app/im
    SERVICE_NAME: app-im

job_domain_user:
  stage: model_init
  script:
  - echo "init domain-user"
  variables:
    working_directory: /go/release/liaotian/domain/user
    SERVICE_NAME: domain-user

调试ci
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

修改后重试
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

调试ci
  .gitlab-ci.yml
Due: none

测试
  app/im/cmd/main.go
Due: job_app_im

ci配置
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

调试
  .gitlab-ci.yml
Due: none

测
  app/im/cmd/main.go
Due: job_app_im

真是费劲
  .gitlab-ci.yml
Due: none

测呗
  app/im/cmd/main.go
Due: job_app_im

mgj
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

试试
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

ci
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

再试试
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

调试
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

测试ci
  app/im/cmd/main.go
Due: job_app_im

写死
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

目录
  .gitlab-ci.yml
  app/im/cmd/main.go
Due: job_app_im

fix build
  .gitlab-ci.yml
  .gitlab-ci/app-im/Dockerfile
  go.mod
Due: none

ci目录
  .gitlab-ci.yml
  .gitlab-ci/domain-user/Dockerfile
Due: none

试试ci
  app/im/cmd/main.go
Due: job_app_im

fix 异常处理
  app/im/cmd/main.go
  app/im/handler/router.go
  app/im/handler/user.go
  deploy/efk/filebeat/values.yaml
Due: job_app_im

测试
  .gitlab-ci.yml
  app/im/handler/user.go
Due: job_app_im

换一下defer位置
  app/im/handler/user.go
Due: job_app_im

规范返回值
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/handler/user_test.go
  middlewares/common-result/gin/result.go
  user-web/handler/router.go
Due: job_app_im

增加参数验证，搞定了一个单测用例，全局翻译器没搞定
  app/im/cmd/main.go
  app/im/handler/handler.go
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/handler/user_mock.go
  app/im/handler/user_test.go
  app/im/handler/validator/user_validator.go
  deploy/monitor/prometheus-operator/crds/crd-alertmanager.yaml
  deploy/monitor/prometheus-operator/crds/crd-prometheus.yaml
  deploy/monitor/prometheus-operator/crds/crd-thanosrulers.yaml
  deploy/monitor/prometheus-operator/templates/prometheus-operator/admission-webhooks/validatingWebhookConfiguration.yaml
  domain/user/handler/user.go
  go.mod
  go.sum
  middlewares/common-result/gin/result.go
  middlewares/validate/translate/translator.go
Due: job_app_im, job_domain_user

描述
  README.md
  deploy/friend-service/Dockerfile
  deploy/friend-service/build.sh
  deploy/friend-service/k8s-deploy.sh
  deploy/friend-service/k8s.yaml
  deploy/friend-web/Dockerfile
  deploy/friend-web/build.sh
  deploy/friend-web/k8s-deploy.sh
  deploy/friend-web/k8s.yaml
Due: none

描述
  .gitlab-ci.yml
  README.md
Due: none

测试ci
  app/im/handler/user_test.go
Due: job_app_im

单测
  app/im/handler/user.go
  app/im/handler/user_test.go
  app/im/handler/validator/user_validator.go
  deploy/apisix/config.yaml
  deploy/argocd/install.yaml
  domain/user/handler/user.go
  middlewares/tool/format.go
Due: job_app_im, job_domain_user

完善单测
  app/im/test/user_mock.go
  app/im/test/user_test.go
  domain/user/cmd/main.go
  domain/user/entity/user-repository.go
  domain/user/handler/handler.go
  domain/user/handler/user.go
  domain/user/repository/repository.go
  domain/user/test/user_test.go
  go.mod
  go.sum
Due: job_app_im, job_domain_user

gofmt
  app/im/handler/handler.go
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/handler/validator/user_validator.go
  app/im/test/user_test.go
  deploy/argocd/install.yaml
  deploy/monitor/prometheus-operator/crds/crd-alertmanager.yaml
  deploy/monitor/prometheus-operator/crds/crd-prometheus.yaml
  deploy/monitor/prometheus-operator/crds/crd-thanosrulers.yaml
  domain/friend/cmd/main.go
  domain/friend/entity/application.go
  domain/friend/entity/friend.go
  domain/friend/handler/application.go
  domain/friend/handler/friend.go
  domain/friend/repository/repository.go
  domain/user/cmd/main.go
  domain/user/entity/user-repository.go
  domain/user/entity/user.go
  domain/user/handler/handler.go
  domain/user/handler/user.go
  domain/user/proto/user.pb.go
  domain/user/repository/repository.go
  domain/user/test/user_test.go
  middlewares/common-result/gin/result.go
  middlewares/logger/zap/logger.go
  middlewares/tool/format.go
  middlewares/validate/translate/translator.go
  middlewares/wrapper/skywalking/micro2sky/micro2sky.go
  user-service/proto/user/user.pb.go
  user-web/handler/handler.go
Due: job_app_im, job_domain_user

friend领域服务-完成70%
  domain/friend/cmd/main.go
  domain/friend/entity/application-repository.go
  domain/friend/entity/application.go
  domain/friend/entity/friend-repository.go
  domain/friend/entity/friend.go
  domain/friend/entity/say-repository.go
  domain/friend/entity/say.go
  domain/friend/handler/application.go
  domain/friend/handler/errors.go
  domain/friend/handler/handler.go
  domain/friend/proto/firend.pb.go
  domain/friend/proto/firend.pb.micro.go
  domain/friend/proto/firend.proto
  domain/user/entity/user-repository.go
  domain/user/handler/errors.go
  domain/user/handler/user.go
  domain/user/test/user_test.go
Due: job_domain_user

完善friend代码
  domain/friend/entity/application-repository.go
  domain/friend/entity/application.go
  domain/friend/entity/friend-repository.go
  domain/friend/entity/friend.go
  domain/friend/entity/say-repository.go
  domain/friend/entity/say.go
  domain/friend/handler/application.go
  domain/friend/handler/errors.go
  domain/friend/handler/friend.go
  domain/friend/handler/handler.go
  domain/friend/proto/firend.pb.go
  domain/friend/proto/firend.proto
  domain/user/entity/user-repository.go
  domain/user/handler/errors.go
Due: job_domain_user

domain friend单测
  domain/friend/entity/application-repository.go
  domain/friend/entity/application.go
  domain/friend/handler/application.go
  domain/friend/handler/friend.go
  domain/friend/test/application_test.go
  domain/user/entity/user-repository.go
Due: job_domain_user

搞定 domain friend单测
  domain/friend/entity/application-repository.go
  domain/friend/handler/application.go
  domain/friend/handler/errors.go
  domain/friend/test/application_test.go
  domain/friend/test/friend_test.go
  domain/friend/test/main_test.go
Due: none

Path conditions:
  job_app_im: any of: app/im/**/*
  job_domain_user: any of: domain/user/**/*
