Repository csh995426531/liaotian: changes, and which GitLab CI jobs are due for each by the changed paths.
All: job_app_im, job_domain_user

.gitlab-ci.yml:

variables:
  DOCKER_USER: "崔徐徐ok"
  DOCKER_PASS: "csh123456789A"
  DOCKER_IMAGE_HOST: "registry.cn-hangzhou.aliyuncs.com"
  DOCKER_IMAGE_NAMESPACE: "liaotian_csh"

cache:
  untracked: true #cache all files that are untracked in your Git
  key: $CI_COMMIT_SHA #-$CI_COMMIT_REF_NAME #-$CI_COMMIT_SHA
  paths:
    - .goBinTmp

before_script:
  - echo "before_script"
  - hostname && cat /etc/*lease && ip a && env && pwd && ls -al
  - mkdir -p .goBinTmp

stages:
  - check_service
  - build

#job_checkout:
#  stage: checkout
#  image: debian:stable
#  script:
#    - echo "检测有改动的微服务项目"
#    - |
#      apt update -qy && apt upgrade -qy
#      apt install -y git
#      git diff --no-commit-id --name-only -r `git log -n 2 --oneline --pretty=format:"%h" | tail -n1` | cut -d/ -f2 | sort -u >  projects
#      printf "Modified directories:\n"
#      cat projects
#      while read project; do
#        if grep -Fxq $project ./.circleci/service-dirs; then
#          printf "\nTriggerring build for project: "$project
#          curl -X POST -F token=3a67414383be39c0cf351ea9efa16d -F "variables[SERVICE_NAME]=${project}" -F ref=master http://local.gitlab.com/api/v4/projects/2/trigger/pipeline
#        fi
#      done < projects
#  except:
#    - triggers

.check_service_template: &check_service_template
  image: debian:stable
  stage: check_service
  script:
    - sed -i "s/deb.debian.org/mirrors.aliyun.com/g" /etc/apt/sources.list
    - apt update -qy && apt upgrade -qy
    - apt install -y curl
    - echo $SERVICE_NAME
    - curl -X POST -F token=3a67414383be39c0cf351ea9efa16d -F "variables[SERVICE_NAME]=${SERVICE_NAME}" -F ref=master http://local.gitlab.com/api/v4/projects/2/trigger/pipeline

job_app_im:
  variables:
    SERVICE_NAME: app-im
  <<: *check_service_template
  rules:
    - changes:
        - app/im/**/*
        - middlewares/**/*
#    - if: '$TRIGGER_JOB == "app-im"'
#      when: always

job_domain_user:
  variables:
    SERVICE_NAME: domain-user
  <<: *check_service_template
  rules:
    - changes:
        - domain/user/**/*
        - middlewares/**/*
#    - if: '$TRIGGER_JOB == "domain-user"'
#      when: always


job_push_image:
  stage: build
  image: docker:stable
  script:
    - echo "开始 build {$SERVICE_NAME}"
    - docker login --username=$DOCKER_USER $DOCKER_IMAGE_HOST -p $DOCKER_PASS
    - docker build -t $DOCKER_IMAGE_HOST/$DOCKER_IMAGE_NAMESPACE/$SERVICE_NAME:latest -f ~/liaotian/.circleci/$SERVICE_NAME/Dockerfile ~/liaotian/
    - docker push $DOCKER_IMAGE_HOST/$DOCKER_IMAGE_NAMESPACE/$SERVICE_NAME:latest
  only:
    - triggers

#job_test:
#  stage: test
#  script:
#    - echo "Testing is starting"
#    - printf "mode=test\nlog_dir=/data1/ms/log/fingerprintGo/" > .env
#    - go vet ./... #语法错误检查
#    - ping -c1  redis  #
#    #    - go test $(go list ./...)
#    - go test -v  ./...  # -benchmem -bench=.
#  services: #docker link
#    - name: redis
#      alias: redis.test
#  tags:
#    - cms

go fmt
  domain/friend/handler/errors.go
  domain/friend/test/application_test.go
  domain/friend/test/friend_test.go
Due: none

增加nats和创建朋友事件
  deploy/nats/Makefile
  deploy/nats/deployment.yaml
  deploy/nats/operator-deployment.yaml
  deploy/nats/operator-prereqs.yaml
  domain/friend/cmd/main.go
  domain/friend/event/application.go
  domain/friend/event/event.go
  domain/friend/handler/application.go
Due: none

im friend
  app/im/handler/application.go
  app/im/handler/friend.go
  app/im/handler/router.go
Due: job_app_im

增加auth服务
  app/im/cmd/main.go
  app/im/handler/application.go
  app/im/handler/friend.go
  app/im/handler/handler.go
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/handler/validator/application_validator.go
  app/im/handler/validator/friend_validator.go
  app/im/handler/validator/user_validator.go
  app/im/handler/validator/validator.go
  app/im/test/application_test.go
  app/im/test/main_test.go
  app/im/test/user_test.go
  domain/auth/cmd/main.go
  domain/auth/handler/Errors.go
  domain/auth/handler/handler.go
  domain/auth/proto/auth.pb.go
  domain/auth/proto/auth.pb.micro.go
  domain/auth/proto/auth.proto
  domain/auth/test/handler_test.go
  domain/friend/entity/friend.go
  domain/friend/handler/application.go
  go.mod
Due: job_app_im

fmt
  README.md
  app/im/handler/application.go
  app/im/handler/friend.go
  app/im/handler/handler.go
  app/im/handler/user.go
  app/im/handler/validator/application_validator.go
  app/im/handler/validator/friend_validator.go
  app/im/handler/validator/user_validator.go
  app/im/test/application_test.go
  domain/auth/handler/Errors.go
  domain/auth/handler/handler.go
  domain/auth/test/handler_test.go
  domain/friend/event/application.go
  domain/friend/event/event.go
Due: job_app_im

增加ci配置
  .gitlab-ci.yml
  deploy/Tracer/jaeger/Makefile
  middlewares/tool/format.go
Due: job_app_im, job_domain_user

fix
  .gitlab-ci.yml
  middlewares/tool/format.go
Due: job_app_im, job_domain_user

ci
  .gitlab-ci/domain-auth/Dockerfile
  .gitlab-ci/domain-friend/Dockerfile
  middlewares/tool/format.go
Due: job_app_im, job_domain_user

增加部署配置
  .argocd-deploy/README.md
  .argocd-deploy/app-im/k8s.yaml
  .argocd-deploy/domain-auth/k8s.yaml
  .argocd-deploy/domain-friend/k8s.yaml
  .argocd-deploy/domain-user/k8s.yaml
Due: none

目录名
  .argo-cd/README.md
  .argo-cd/app-im/k8s.yaml
  .argo-cd/domain-auth/k8s.yaml
  .argo-cd/domain-friend/k8s.yaml
  .argo-cd/domain-user/k8s.yaml
Due: none

添加auth中间件
  app/im/cmd/main.go
  app/im/handler/application.go
  app/im/handler/friend.go
  app/im/handler/handler.go
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/handler/validator/application_validator.go
  app/im/test/application_test.go
  app/im/test/auth_mock.go
  app/im/test/firend_mock.go
  app/im/test/main_test.go
  domain/auth/handler/handler.go
  domain/auth/test/handler_test.go
  middlewares/common-result/gin/result.go
  middlewares/wrapper/gin/auth.go
Due: job_app_im, job_domain_user

格式化
  app/im/cmd/main.go
  app/im/handler/application.go
  app/im/handler/friend.go
  app/im/handler/router.go
  app/im/handler/user.go
  app/im/test/application_test.go
  app/im/test/main_test.go
  middlewares/tool/format.go
  middlewares/wrapper/gin/auth.go
Due: job_app_im, job_domain_user

添加测试用例
  app/im/handler/application.go
  app/im/handler/router.go
  app/im/handler/validator/application_validator.go
  app/im/handler/validator/validator.go
  app/im/test/application_test.go
  app/im/test/main_test.go
  app/im/test/user_test.go
  middlewares/wrapper/gin/auth.go
Due: job_app_im, job_domain_user

friend app service over and test file
  app/im/cmd/main.go
  app/im/handler/friend.go
  app/im/handler/user.go
  app/im/handler/validator/friend_validator.go
  app/im/handler/validator/user_validator.go
  app/im/test/friend_mock.go
  app/im/test/friend_test.go
  app/im/test/main_test.go
  app/im/test/user_test.go
  domain/friend/event/application.go
  domain/friend/handler/friend.go
  domain/friend/proto/firend.pb.go
  domain/friend/proto/firend.proto
  domain/friend/test/friend_test.go
  domain/user/entity/user-repository.go
  domain/user/entity/user.go
  domain/user/handler/user.go
  domain/user/proto/user.pb.go
  domain/user/proto/user.pb.micro.go
  domain/user/proto/user.proto
  domain/user/test/user_test.go
Due: job_app_im, job_domain_user

message service
  app/im/cmd/main.go
  app/im/event/application.go
  app/im/event/event.go
  app/im/event/message.go
  app/im/handler/handler.go
  app/im/handler/message.go
  app/im/handler/router.go
  app/im/handler/validator/message_validator.go
  app/im/handler/validator/validator.go
  deploy/kafka/docker-compose.yaml
  domain/auth/proto/auth.pb.go
  domain/auth/proto/auth.pb.micro.go
  domain/friend/entity/friend.go
  domain/friend/event/application.go
  domain/friend/handler/application.go
  domain/message/cmd/main.go
  domain/message/event/event.go
  domain/message/event/message.go
  domain/message/handler/Errors.go
  domain/message/handler/handler.go
  domain/message/handler/message.go
  domain/message/proto/message.pb.go
  domain/message/proto/message.pb.micro.go
  domain/message/proto/message.proto
  domain/message/repository/etcd.go
  domain/message/repository/kafka.go
  domain/message/repository/repository.go
  domain/message/test/main_test.go
  domain/user/repository/repository.go
  go.mod
  go.sum
Due: job_app_im, job_domain_user

message domain service test
  app/im/test/message_mock.go
  app/im/test/message_test.go
  domain/message/handler/handler.go
  domain/message/handler/message.go
  domain/message/repository/etcd.go
  domain/message/repository/kafka.go
  domain/message/repository/repository.go
  domain/message/test/main_test.go
  domain/message/test/message_test.go
  go.mod
  middlewares/tool/format.go
Due: job_app_im, job_domain_user

初步完成 message app service
  app/im/event/application.go
  app/im/event/event.go
  app/im/event/message.go
  app/im/handler/handler.go
  app/im/handler/message.go
  app/im/handler/router.go
  app/im/handler/validator/message_validator.go
  app/im/test/main_test.go
  app/im/test/message_test.go
  domain/friend/event/application.go
  domain/message/event/message.go
  domain/message/handler/handler.go
  domain/message/handler/message.go
  domain/message/repository/etcd.go
  domain/message/repository/kafka.go
  domain/message/repository/repository.go
  domain/message/test/main_test.go
  domain/message/test/message_test.go
  go.mod
  go.sum
  middlewares/tool/format.go
  middlewares/wrapper/gin/auth.go
  test/main.go
  test/main_test.go
  test/ws/ws.go
Due: job_app_im, job_domain_user

删除无效目录
  test/main.go
  test/main_test.go
  test/ws/ws.go
Due: none

优化message
  app/im/handler/message.go
  app/im/test/message_test.go
  middlewares/websocket/message.go
Due: job_app_im, job_domain_user

fix message app service test
  app/im/handler/message.go
  app/im/handler/validator/message_validator.go
  app/im/test/message_test.go
Due: job_app_im

fmt
  app/im/handler/message.go
  app/im/handler/validator/message_validator.go
  app/im/test/message_test.go
  middlewares/websocket/message.go
Due: job_app_im, job_domain_user

add msg ci config
  .gitlab-ci.yml
  .gitlab-ci/domain-message/Dockerfile
  domain/friend/repository/repository.go
  domain/message/repository/repository.go
  domain/user/repository/repository.go
Due: job_domain_user

add message domain cd config
  .argo-cd/domain-message/k8s.yaml
Due: none
